<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Major in Software Engineering</h1>
            <span>Nankai Univerity</span>
            <span><address>Tianjin, China</address><time>2011 to 2015</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Minor in Business Administration</h1>
            <span>Tianjin University</span>
            <span><address>Tianjin, China</address><time>2012 to 2015</time></span>
        </header>
        <p>
        </p>
    </article>
</section>
