<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Master of Engineering in Software Engineering</h1>
            <span>Beihang Univerity</span>
            <span><address>Beijing, China</address><time>2019 to 2022</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Engineering in Software Engineering</h1>
            <span>Nankai Univerity</span>
            <span><address>Tianjin, China</address><time>2011 to 2015</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Bachelor of Management in Business Administration(Double degree)</h1>
            <span>Tianjin University</span>
            <span><address>Tianjin, China</address><time>2011 to 2015</time></span>
        </header>
        <p>
        </p>
    </article>
</section>
