<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Research Associate</h1>
            <span><address>City University of HK, Hong Kong</address><time>2015.11 to present</time></span>
        </header>
		<p>
			<li>Design and implement a tool for biological visualization.
			<li>Develop an online compiler for biologist -- omics.
			<li>Develop a platform to show KEGG pathway and search the network.
        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Anhui USTC iFLYTEK Co, Beijing, China</address><time>2014.10 to 2015.9</time></span>
        </header>
        <p>
            <li>Developed the training system independently.
            <li>Got the related data from the database and placed them in the cache and gave others wrappers to synchronize data.
            <li>Developed the function of analyzing test paper(text) automaticly and gave the interfaces to other developers.Mainly used the regular expression.
            <li>Optimized the design and reliability of functions in testing system.
            <li>System's Homepage: <a href="http://www.fifedu.com/">http://www.fifedu.com/</a>
                                
        </p>
    </article>
    <article>
        <header>
            <h1>Game Development Engineer(C++,Intership)</h1>
            <span><address>ZhangJin Interactive Technology,Tianjin,China</address><time>2015.7 to 2015.10</time></span>
        </header>
        <p>
            <li>Developed the function of client-side(Implemented by C++ with Cocos2d-x).
            <li>Completed the user interfaces according to product design(Chat,Battle,Reward,Check-in,Level select,etc).
        </p>
    </article>
    <article>
        <header>
            <h1>Software Development Assistant(Part-time) </h1>
            <span><address>Tig Urban Resources Operation ,Tianjin,China</address><time>2013.10 to 2014.1</time></span>
        </header>
        <p>
            <li>Assisted the CTO to complete development and testing tasks(A project of J2EE).
            <li>Developed the part of report forms(Used the FusionCharts).
            <li>Deployed application to terminal devices.
        </p>
    </article>
</section>
