<section class="thirteen columns">
    <h1>Student Affairs</h1>
    <article>
        <header>
            <h1>President of Nankai Siyuan Association</h1>
            <span><time>2013.2--2013.12</time></span>
        </header>
        <p>
        </p>
    </article>
    <article>
        <header>
            <h1>Public Relations Officer</h1>
            <span><time>2012.9--2013.6</time></span>
        </header>
        <p>
        </p>
	</article>
	<article>
		<header>
			<h1>League Secretary</h2>
			<span><time>2011.9--2015.6</time></span>
			<p>
			</p>
		</header>
	</article>
</section>
