<section class="thirteen columns">
    <h1>Language</h1>
    <article>
        <header>
            <h1>Chinese(Mandarin)</h1>
        </header>
        <p>
            Mother tongue.
        </p>
    </article>
    <article>
        <header>
            <h1>English(IELTS 6.5)</h1>
        </header>
        <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>Fluent.
        </p>
    </article>
</section>
