<section class="thirteen columns">
    <h1>Programming Skills</h1>
    <article>
        <header>
            <h1>Software engineering &amp; web development</h1>
        </header>
        <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
        &nbsp;&nbsp;<em>Java</em> &amp; <em>J2EE</em>
        <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>C/C++ </em>
        </p>
        <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Python </em> &amp;<em>R</en> &amp; <em>PHP</em> &amp; <em>Matlab</em>
        </p>
        <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>Git </em> &amp; <em>SVN</em>
        </p>
        <p>
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
        &nbsp;&nbsp;<em>HTML/CSS3</em> &amp; <em>Javascript</em>
        </p>
    </article>
</section>
